<div class="jumbotron text-center">
    <h1>App MEAN Stack</h1>
    <p class="lead">Bienvenid@ a la aplicación MEAN Stack, de <strong>Sergio Díez de Pedro</strong></p>
    <div>
      <a href="#" class="btn btn-primary">Registro</a>
      <a href="#" class="btn btn-default">Login</a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="thumbnail">
        <img class="icono-home" src="assets/img/database.svg" alt="Base de datos">
        <div class="caption">
          <h3>MongoDB</h3>
          <p>MongoDB es una base de datos libre, de código abierto, multiplataforma y basada en documentos. Esta base de datos no-SQL utiliza  documentos del tipo JSON con esquemas dinámicos.</p>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-lg-4">
      <div class=thumbnail>
        <img class="icono-home" src="assets/img/servidor.svg" alt="Servidor">
        <div class=caption>
          <h3>ExpressJS</h3>
          <p>Express es una infraestructura de aplicaciones web Node.js mínima y flexible que proporciona un conjunto sólido de características para las aplicaciones web y móviles.</p>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-lg-4">
      <div class=thumbnail> 
        <img class="icono-home" src="assets/img/views.svg" alt="Vistas">
        <div class=caption>
          <h3>Angular 2</h3>
          <p>Angular es un <em>framework</em> de JavaScript de código abierto, desarrollado por Google, que se utiliza para crear y mantener aplicaciones web de una sola página.</p>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-lg-4">
      <div class=thumbnail> 
        <img class="icono-home" src="assets/img/node.svg" alt="Node.js">
        <div class=caption>
          <h3>NodeJS</h3>
          <p>Entorno en tiempo de ejecución multiplataforma, de código abierto, para el servidor, asíncrono, con I/O de datos en una arquitectura orientada a eventos y basado en el motor V8 de Google.</p>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-lg-4">
      <div class=thumbnail> 
        <img class="icono-home" src="assets/img/javascript.svg" alt="JavaScript">
        <div class=caption>
          <h3>JavaScript</h3>
          <p>JavaScript es un lenguaje de programación interpretado, base del stack MEAN. Se define como orientado a objetos, basado en prototipos, imperativo, débilmente tipado y dinámico.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4">
      <div class=thumbnail> 
        <img class="icono-home" src="assets/img/blog.svg" alt="Blog">
        <div class=caption>
          <h3>Blog</h3>
          <p>Un blog o bitácora es un sitio web que incluye, a modo de diario personal de su autor o autores, contenidos de su interés, actualizados con frecuencia y a menudo comentados por los lectores.​</p>
        </div>
      </div>
    </div>
  
  
  </div>